body{
    height: 100vh;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    
    
}

/* section-1 */

.navbar{
    padding-top: 0;
}

.nav{
    background-color: transparent;
    width: 100%;
    height: 50px;
}

.nav-link{
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
}

.nav-link:hover{
    color: bisque;
}


.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
h1{
    color: aliceblue;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
    width: 600px;
    text-align: center;
    word-spacing: 2px;
    margin: 50px 400px;
   
   
}

  
.parent{
    background-image: url("./imgs/ASU.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/* section-1 */



/* section-2 */
.section-2{
    width: 40%;
    height: 400px;
    background-image: linear-gradient(to right, #9a9af5, #ced8f5);
    padding: 90px;
    border: 2px solid #01015d;
    border-radius: 7px;
    margin: 50px 400px;
}

.section-2-nav{
    padding: 0 20px;
}

.nav-2{
    background-color: transparent;
    border-bottom: 2px solid #01015d;
}

.form-group{
    margin-bottom: 25px;
    
}

.btn-form{
    margin-top: 10px;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 40px;
    border: 1px solid #01015d;
    border-radius: 5px;
    font-weight: 700;
}

.btn-form:hover{
    background-color: #01015d;
    color: aliceblue;
}

/* section-2 */

/* section-3 */
.section-3{
    width: 50%;
    margin: 10px 400px;
}

.section-3 .input-group .form-control{
    background-color: #bfbdbd;
    font-weight: 700;
    
}

.section-3 .input-group .input-group-text{
    background-color: #bfbdbd;
    font-weight: 700;
    
}

/* section-3 */



@media(max-width: 600px){
    h1{
        width: 400px;
        margin: 50px 80px;
    }

    .section-2{
        width: 70%;
        margin: 50px 100px;
    }

    .section-3{
        margin: 10px 80px;
    }
}
